<nav class="main-header navbar navbar-expand bg-body-tertiary">
  <ul class="navbar-nav">
    <li class="navbar-item">
      <a class="nav-link" href="#">
        <mat-icon fontIcon="menu"></mat-icon>
      </a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="navbar-item"></li>
  </ul>

  <ul class="navbar-nav ms-auto">
    <li class="navbar-item">
      <a class="nav-link" href="">Logout</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" routerLink="/login"
        ><mat-icon fontIcon="logout"></mat-icon
      ></a>
    </li>
  </ul>
</nav>
